doctype html
html
    
    head

        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Projeto 09
    
        link(rel="stylesheet", href="./style.css")
        link(rel="shortcut icon", href="./favicon.png", type="image/png")

    body 

        if resultados 

            each resultado in resultados 

                div
                    h1 #{ resultado.marca } - #{ resultado.modelo }
                    p Memória RAM: #{ resultado.ram } GB
                    p Armazenamento: #{ resultado.armazenamento } GB
                    p Tamanho Tela: #{ resultado.tela } Polegadas 